{% extends "base.html" %}
{% block content %}
<h3 class="text-center">Edit Employee</h3>
<form method="POST">
    <div class="mb-2">
        <label>Employee ID</label>
        <input type="text" name="employeeID" value="{{employee.employeeID}}" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Full Name</label>
        <input type="text" name="fullName" value="{{employee.fullName}}" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Role</label>
        <input type="text" name="role" value="{{employee.role}}" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Phone Number</label>
        <input type="text" name="phoneNumber" value="{{employee.phoneNumber}}" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input type="email" name="email" value="{{employee.email}}" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Shift</label>
        <input type="text" name="shift" value="{{employee.shift}}" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Update</button>
{% endblock %}