{% extends "base.html" %}
{% block content %}
<div class="container-fluid mt-2 p-3 bg-primary-subtle text-dark">
    <h1 class="text-center">You are in View & Update Patient</h1>
</div>

<form method="POST">
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for p in patients %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.age }}</td>
                <td>{{ p.phone }}</td>
                <td>{{ p.address }}</td>
                <td>
                    <a href="/edit_patient/{{ p.id }}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}